
@{
    ViewBag.Title = "View2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View2</h2>
<br />
<table border="2px solid black" cellpadding="20" width="100%" height="200px" cellspacing="2">
    <tr>
        <th colspan="2" style="border: 2px solid black;"><h1>Thong tin sinh vien</h1></th>
    </tr>
    <tr style="border: 2px solid black;">
        <th style="border: 2px solid black;">Mã Sinh Viên</th>
        <td style="border: 2px solid black;">2020600157</td>
    </tr>
    <tr style="border: 2px solid black;">
        <th style="border: 2px solid black;">Họ Và Tên</th>
        <td style="border: 2px solid black;">Vũ Quang Tùng</td>
    </tr>
    <tr style="border: 2px solid black;">
        <th style="border: 2px solid black;">Ngày Sinh</th>
        <td style="border: 2px solid black;">2-12-2002</td>
    </tr>
    <tr style="border: 2px solid black;">
        <th style="border: 2px solid black;">Quê Quán</th>
        <td style="border: 2px solid black;">Nam Từ Liêm, Hà Nội</td>
    </tr>
</table>


